import("data.table")
import("doBy")
import("lubridate")
import("segmented")
import("sf")
import("mixtools")
import("ggplot2")

export(
"ac",    
"activityTacsat",
"activityTacsatAnalyse",                         
"addWidth",                       
"af",                             
"an",                             
"anf",                            
"bearing",                        
"c.listquote",                    
"calculateCI",      
"calculateSpeed",
"callNumberPeak",
"callPeakValue",           
"clipObs2Tacsat",                             
"countPings",                     
"createGrid",                     
"CSquare",                        
"CSquare2LonLat",                 
"degree2Km",                      
"destFromBearing",                
"diffInter",                      
"distance",                       
"distanceInterpolation",          
"distanceTacsat",   
"effort",
"eflaloHaul2Tacsat",              
"eflalo2Pings",                   
"eflalo2relational",              
"equalDistance",                  
"estimateAggregation",
"estimateZeros",
"estimatePropFishing",
"filterTacsat",  
"findArea",                 
"findEndTacsat",                  
"formatEflalo",                   
"formatTacsat",                   
"getndp",                         
"ICESarea",                       
"ICESrectangle",                  
"ICESrectangle2LonLat", 
"ICESrectangle2CSquare",          
"interpolateTacsat",    
"interpolation2Tacsat", 
"interCubicHermiteSpline",          
"interStraightLine",
"intervalTacsat",                 
"kgeur",                          
"km2Degree",                      
"labellingHauls",
"lonLat2SFPolygons",         
"lonLatRatio", 
"matchAIS2Tacsat",                   
"maxRangeCI",          
"mergeEflalo2Tacsat",                      
"N1p0",            
"nestedGrid",               
"outsideMaxRange",    
"plotTools",                      
"pointInHarbour",                 
"pointOnLand",
"predictAggDistri",
"raiseTacsat",
"rbindEflalo",                    
"rbindTacsat",                    
"readEflalo",                    
"readTacsat",
"round2",
"segmentedTacsatSpeed",  
"sortTacsat",                     
"splitAmongPings",                
"st_over",        
"summarizeTacsat",
"summarizeEflalo",
)
