import("data.table")
import("doBy")
import("lubridate")
import("segmented")
import("sf")
import("mixtools")
import("ggplot2")

export(CSquare)
export(CSquare2LonLat)
export(ICESarea)
export(ICESrectangle)
export(ICESrectangle2CSquare)
export(ICESrectangle2LonLat)
export(N1p0)
export(ac)
export(activityTacsat)
export(activityTacsatAnalyse)
export(addWidth)
export(af)
export(an)
export(anf)
export(bearing)
export(c.listquote)
export(calculateCI)
export(calculateSpeed)
export(callPeakValue)
export(clipObs2Tacsat)
export(countPings)
export(createGrid)
export(degree2Km)
export(destFromBearing)
export(diffInter)
export(distance)
export(distanceInterpolation)
export(distanceTacsat)
export(effort)
export(eflalo2Pings)
export(eflalo2relational)
export(eflaloHaul2Tacsat)
export(equalDistance)
export(estimatePropFishing)
export(filterTacsat)
export(findArea)
export(findEndTacsat)
export(formatEflalo)
export(formatTacsat)
export(getndp)
export(interCubicHermiteSpline)
export(interStraightLine)
export(interpolateTacsat)
export(interpolation2Tacsat)
export(intervalTacsat)
export(kgeur)
export(km2Degree)
export(labellingHauls)
export(lonLatRatio)
export(maxRangeCI)
export(mergeEflalo2Tacsat)
export(nestedGrid)
export(outsideMaxRange)
export(plotTools)
export(pointInHarbour)
export(pointOnLand)
export(polyDef)
export(raiseTacsat)
export(rbindEflalo)
export(rbindTacsat)
export(readEflalo)
export(readTacsat)
export(segmentedTacsatSpeed)
export(sortTacsat)
export(splitAmongPings)
export(summarizeEflalo)
export(summarizeTacsat)
