import("cluster")
import("data.table")
import("doBy")
import("maps")
import("mapdata")
import("maptools")
import("PBSmapping")
import("sp")
export(
"ac",    
"activityTacsat",
"activityTacsatAnalyse",                         
"addWidth",                       
"af",                             
"an",                             
"anf",                            
"bearing",                        
"bindAllMergedTables",
"building_tab_pca",
"c.listquote",                    
"calculateCI",      
"calculateSpeed",
"calc_mcp",      
"callNumberPeak",
"callPeakValue",           
"clipObs2Tacsat",                             
"compareToOrdination",            
"countPings",                     
"createGrid",                     
"CSquare",                        
"CSquare2LonLat",                 
"degree2Km",                      
"destFromBearing",                
"diffInter",                      
"distance",                       
"distanceInterpolation",          
"distanceTacsat",   
"effort",
"eflaloHaul2Tacsat",              
"eflalo2Pings",                   
"eflalo2relational",              
"equalDistance",                  
"estimateAggregation",
"estimateZeros",
"estimatePropFishing",
"extractTableMainSpecies",        
"filterTacsat",  
"findArea",                 
"findEndTacsat",                  
"formatEflalo",                   
"formatTacsat",                   
"getEflaloMetierLevel7",          
"getMetierClusters",              
"getndp",                         
"getTableAfterPCA",               
"ICESarea",                       
"ICESrectangle",                  
"ICESrectangle2LonLat",           
"indicators",                     
"interpolateTacsat",    
"interpolation2Tacsat", 
"interCubicHermiteSpline",          
"interStraightLine",
"intervalTacsat",                 
"kgeur",                          
"km2Degree",                      
"labellingHauls",
"landingsMaps2GIFanim",           
"lonLat2SpatialPolygons",         
"lonLatRatio", 
"matchAIS2Tacsat",                   
"mapGrid",                        
"maxRangeCI",          
"mcp.area",       
"mergeEflalo2Pings",              
"mergeEflalo2Tacsat",                      
"N1p0",            
"nearest",
"nestedGrid",               
"outsideMaxRange",       
"overlapPolygons",         
"pings2EffortMaps",               
"pings2Fishframe",                
"pings2LandingsMaps",                            
"plotTools",                      
"plotTreeMap", 
"plot_mcp",                   
"pointInHarbour",                 
"pointOnLand",
"polyDef",                    
"poolEflaloSpecies",              
"predictAggDistri",
"predictMetier",                  
"raiseTacsat",
"rbindEflalo",                    
"rbindTacsat",                    
"readEflalo",                    
"read.polyfile", 
"readTacsat",
"round2",
"scree",
"segmentTacsatSpeed",             
"segmentedTacsatSpeed",  
"selectMainSpecies",
"select_species",
"shortenEflalo",
"sortTacsat",                     
"splitAmongPings",                
"splitAmongPings2",      
"surface",
"summarizeTacsat",
"summarizeEflalo",
"table_variables",
"tacsatMCP",                      
"tacsatMinimumConvexPolygon",
"targetspecies",
"test.values",
"transformation_proportion",
"vmsGridCreate",
"withinVar",
"write.polyfile"
)
exportClasses(
"gpc.poly",
"gpc.poly.nohole"
)
exportMethods(
"show",
"get.bbox",
"plot",
"intersect",
"setdiff",
"union",
"tristrip",
"triangulate",
"[",
"append.poly",
"scale.poly",
"area.poly",
"get.pts"
)


