import("amap")
import("cluster")
import("doBy")
import("data.table")
import("FactoMineR")
import("foreign")
import("maptools")
import("MASS")
import("sp")
import("SOAR")
import("aspace")
import("raster")
import("mda")
import("maps")
export(
"ac",    
"activityTacsat",
"activityTacsatAnalyse",                         
"addWidth",                       
"af",                             
"an",                             
"anf",                            
"bearing",                        
"bindAllMergedTables",
"building_tab_pca",
"c.listquote",                    
"calculateCI",                    
"calculateSpeed",
"calc_mcp",      
"callNumberPeak",
"callPeakValue",           
"clipObs2Tacsat",                 
"clipPolygons",                   
"compareToOrdination",            
"countPings",                     
"createGrid",                     
"CSquare",                        
"CSquare2LonLat",                 
"degree2Km",                      
"destFromBearing",                
"diffInter",                      
"distance",                       
"distanceInterpolation",          
"distanceTacsat",                 
"effort",                         
"eflalo2Pings",                   
"eflalo2relational",              
"equalDistance",                  
"extractTableMainSpecies",        
"filterTacsat",                   
"findEndTacsat",                  
"formatEflalo",                   
"formatTacsat",                   
"getEflaloMetierLevel7",          
"getMetierClusters",              
"getndp",                         
"getTableAfterPCA",               
"Grid2KML",                       
"ICESarea",                       
"ICESrectangle",                  
"ICESrectangle2LonLat",           
"indicators",                     
"interpolateTacsat",              
"interpolation2Tacsat",           
"intervalTacsat",                 
"kgeur",                          
"km2Degree",                      
"landingsMaps2GIFanim",           
"lonLat2SpatialPolygons",         
"lonLatRatio",                    
"mapGrid",                        
"maxRangeCI",                     
"mergeEflalo2Pings",              
"mergeEflalo2Tacsat",             
"mosaicASCIIGrids",               
"N1p0",                           
"outsideMaxRange",                
"pings2EffortMaps",               
"pings2Fishframe",                
"pings2LandingsMaps",                            
"plotTools",                      
"plotTreeMap", 
"plot_mcp",                   
"pointInHarbour",                 
"pointOnLand",                    
"poolEflaloSpecies",              
"predictMetier",                  
"rbindEflalo",                    
"rbindTacsat",                    
"readEflalo",                     
"readTacsat",
"scree",
"segmentTacsatSpeed",             
"selectMainSpecies",
"select_species",
"shortenEflalo",
"sortTacsat",                     
"splitAmongPings",                
"surface",
"table_variables",
"tacsatMCP",                      
"tacsatMinimumConvexPolygon",
"targetspecies",
"test.values",
"transformation_proportion",
"vmsGridCreate",
"withinVar"
)
